<%= form_tag bookmarks_path, method: :get, id: 'bookmark_find_form' do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search" %>
	<%= submit_tag '', name: nil, id: 'find_bookmark_submit', title: "Search" %>
<% end %>

<button id = "reset_find_bookmark_form" title="Reset"><div></div>Reset</button>
