<% if current_user %>
	<div id="top_menu_left"><%= link_to 'Bookmarks', bookmarks_path %></div>
	<div class="top_menu_middle"><%= link_to 'Logout', logout_path, class: "top_menu_middle_link" %></div>
<% else %>
	<div id="top_menu_left"><%= link_to "Facebook", '/auth/facebook' %></div>
<% end %>
