<div id="top_menu_left">
	<%= link_to 'Back', bookmarks_path %>
</div>

<div id="friends">
	<% @friends.each do |friend| %>

		<div class="friend">
			<span class="user_email"><%= friend.email %></span> <div class="friend_bookmarks"><%= link_to 'Bookmarks', friendship_path(friend) %></div>
		</div>

	<% end %>
</div>
